<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificate</key>
	<data>
	MIINZQIBAzCCDS8GCSqGSIb3DQEHAaCCDSAEgg0cMIINGDCCB88GCSqGSIb3DQEHBqCC
	B8Awgge8AgEAMIIHtQYJKoZIhvcNAQcBMBwGCiqGSIb3DQEMAQMwDgQI0ZAmpH/EUWEC
	AggAgIIHiHwBayY78dBzSDo/DCBjfz0uQASf1OgY6IFwiZEzlDwSykvUBit7Im4q0xf0
	SoWeKWsPDaTh8huYkQ+JHeZvTVWDdmu6Qy1N4B0EiBOEccVnFDPY2rB5fUxXEbUf9IKp
	x5JrwZeGiANCrAnxE3PudJqU867wdywzlZzseRva4Nm0Qgt/iY/LWjAbdLB0Npc9DjFn
	ZaU8IS5YxCFGWqikdRz1r49RvjFAFdoG7IhdkO8/NArIUQjU1MTwCnU5lDDSDGH2Szqu
	LxsgpBroyBG3y4urSbXeT4idLy+ycQ78oO3yjQ7z7RDtd3nnyZ4b89YW4UtLKxFvS9/G
	jRDCzhZRb6v9HvX/kKe7nTvusAVE9U85LOseMQ8Fb38ZJnGVa5rEeBb8SFW4kZ9PUu3l
	2yqeM99lWpgBMn1sMMbSEFLBG63I44KTr/tHp0ldISXrrnx1N4MpxeKzBoBkzXaSW81T
	Uu4P7eDmeXTuJCmyqQMVpw64XbH3PtjZO6K71ivfuS39aG+jJdOj5xMXIvg2PZSZHkD3
	T0hCmlHdIj5rJg+2VFlUQxGAZfqC9lXjx6vrP7ac9Q2u0LbIXoG5brQhJncKQ8a3GIUZ
	pl5jr94WA5wjAC12+FnYTa4JUSTwLwkPclyGWF912B9AFSfU0f/7sAi35TrrBI3AB9ig
	4UnFxGtMEgijlpgEkYLSFiH8qW0o558UkRITa2KwPkVXz3U2cTM/4RBcmcNb2WSV6/uV
	gPcJOxZK5xzHozRjwaX9vXz/PozFhQQdBvOarC51v7tMkAuzHML6DFaDeYNpMqkxiGDN
	8rX5nj0Qn6nt7EFCO0c66RCI4z6rneVl6esEUWROpL6/8F43iCthpoWRDI4CE337RD5x
	vDttuz6eYt24kUr1fJn8vdDct4SEmqbl7NvWExrosQAE/7Vpb8eGed+YnSCyd0a1LVwo
	/wcxPqgXJYRhVghwrJl8+JlshufWBNC09eqBDBDFTbF4FIFXMOWuEQ3juuLazYcvNyO9
	1w5BsN6//TpeQ9wV1pY/hJ1G7fJTV+6BHCetLuNw7P8SzlQrxAvs/cOo73XwHdsYG5aX
	N8hmI+4dREOA5rIzD1BUq2pgsPWq723QqfuXtqKokdIlOP4NF1XLda3kHhDoucKugfjW
	u6oMpkxRUxrb4tFs1hV/bTE9AF+HMIdMqJoNFWCEAquVjodOi/HrI+msNoOQgFxGLNWZ
	vyZk3Tza5k5FiG8LKRNR1vbijmj9DiEJ4LuFn9POvBNuCJhc7jUcYYTTzio9TWybbWa6
	Mu6mmctKal+1CInZn3Jbq3fY0bTOkCtfivOaZfo1Z/UstXxWp/X6BEeQAzCpAwpNWUx9
	Jdc0D4x5UZBuSUEUJ4Rp9yuZeyT54c5nTKYiZz6Dldl+hD7yTWMYGJ7+b4k6r9l6Ht5C
	D5QUiJRO+Labud9mU5df0r20IsTcFAtFdUfwBKbb/mUB9/aPUv+9l65DGpa03GTQZ0D9
	0qUs/GrdgCCEwdcUIwNDyhnvY9bn/UIDTcc09nVpgTSsM4CgSpzhDRC441RSXPMTHu/n
	UjunF+ACONfeKnZeIYC7bRId+YVbdcKRaKCyEbLEqx0z8rCPaMoeoGSYAZiD2PVa3V6O
	h7wHs3smXhYF9becSoXDy5IoqJGVDHd60s0sdbL9HmZHsP1i9ICVwSSleFIm7W1GuRSf
	CfPeCSVFzddIMhmNvYMsxRhSvVi6PR55h9CeVku/c2UFOhLB+WOf3df6NCi8CNaIcJGX
	M6zAwFrg1QakH/XZfODZd0As6swbZxZJkT+KfFvprFN648EbNRrmibxwpFMQB/3GKyMP
	vzRvDdOP5/WV1HF6PTZ9oun09WfyJfMxe40ye8Us7gXFKH6T6mABnDoYpKNTfD3/Mr4H
	4iYx0tk4nvBzVhdnlQgGiCGQA+OlJrMisk9wV0boTjlRkpYiXkJ74MBL2mS5WZcdJwN0
	QjXA1EqZlIjtRo+iVyzhGw34YBoU0ZjAPzNk8Du+uckeekUeaZ16Q4P2go3AJpjfjgv8
	slR2ajiwQuRLqaoOjLrMu4QgHjpgCv2SJsvevMBg++B5+bXjttQMhK/iPYlI//T/T/R4
	rmhmkDi7J8iWrZ107oRBCh6j3QS56IOYAksWxGYSY3BtscaO4yYcNcnYuFhPxAW6lPFw
	aSxXCPbRjqAsII8GoZh1r+Ouirqzvmofv1QRxfKJYo/sPOsBxO9KOlGjlGt8MAAk3xTY
	5NdffHLSf5G3+eb5OKGtvxxwsy0vjO3Mntlq6RGvFSGpGHNEOp+uXhNQm0WEgPG/sFnp
	mKkRTHhfXaG3wsKB0ZyIGDWeh2CVgJXXfl0u4v/+3N3AxphAWihlv45GR2+JdPnbUBiz
	+zLYyTmLOcmte96XieUX4QdKdsXvvn/XalWPbIoLWgExV8SuM4f057xoRvhFktNyK6A+
	T8JWVf2SyliO2elu/HFANFppghYbIoff8moz9pugTBMvR3Zrzl1zIXhHJJwkcdpkoAZy
	s8e4QZsZevPEVeH86hoZRQUSuRLfJxAxo+YIdanD15+2pC4qnYunCxAOJGUWqCrDMIIF
	QQYJKoZIhvcNAQcBoIIFMgSCBS4wggUqMIIFJgYLKoZIhvcNAQwKAQKgggTuMIIE6jAc
	BgoqhkiG9w0BDAEDMA4ECJaPwprY6yXtAgIIAASCBMgW70E0ZgWjP//PqBheoUl9GBKd
	YWwcqo+5zK/xrDDZYmWUjtcddn2+7e+Lk6MT8DEFdV0OGraLAgt5LGF1NMtmr1PULuc5
	Fe1+pJ3VLUWilbO9UOgGCzS6RTmLy1gFAvxAuxkgdW+hFc77whu104cZAY5MCUYZ5jqS
	GJyLpSIS58D422qWlTVvdgGyiu9IPKLD6q6wTcLvzCf6WHN//phYs5j8wEnMH74FxgHG
	UMniGQhPJYYT0OUTiLiWNfcHC2yzUFHEgadWuJH5iFhS7W2mHkCttWdRzCzMinMt7i8w
	GiSWv8802OQ/fkUVU5JCjxVvgozPUtts1JIf95qXE3D+ftNTUvkrfzxPVseJXjz4R+4g
	sQr6fjLyBm/e5Ia/A20FBYEpozMfSAOHmVt0GCGjt4lmDcAMxv4ZdN0n7c2v5RH1AQo7
	eoycSx5Aj6pNpt4TmlF2SycCKLlKS5xuXqNiQV/RCGz1piZb2wWZBxRLtI5xXQE0G7Ov
	NDnmS82r9yxGGyYVwVZuFyHjhOVY2mSylONodCJK330QCIp//MLliW7tQZs5WPOvGDHD
	8deO3mNDS51oamJjL83pkIc4nvVkQNx3P+5MSeW5oFDGtu9l3XcR9Ys28CBwfr352bbI
	KlWd0iqeQiUjwRGLRGWKND40icaCqMN3zISSVYZ36HAieeJSlN8JVL1kvtEibxiy+W5T
	R39x46jnum1NoerL6oViDfCHMJsLOWbhZIrVQ1u+e6nRMv7g99AAmlhnTvATGjTo3jdJ
	sPW5hQdQWTtajrvEB0zv3PWBZ2WkAtynHntin4mZf517FwSjrVXCc6s3m0XcdQG5NqYz
	ZpiK16cGtJmdI23395NEEF0AwHf6qJkbLqstFJPS/bXOJrM4/VHOXyKudWkmHFFxVwsK
	MPRiwTMCLJlzF6so+gvXt0PT9GkVDcOnd35olSXIgR/dFgJAiiVmNKdHu4SYcvlKdyeb
	DEyLmg4mxf2L04SkUzKjeiENfq5TKzi/kqQUjstbWZV8WSf943h2Z2FtD159n7R/zF/t
	MZwtTazdu2c6dms6L/td/aZrAq8DsJBdOvy1NLxgegHARAyZEVE9C3InCmNEa7Xh/SfL
	ZpLI3kgbbgqP2KsWabf3V1oXUGS/PETgIpOjFEme5I4RF4b5yoxFQqSHOLtnfAW3buoQ
	sYPgbhWrRFVCJGK99yJMb/65XhtBzI3nEIkWVz2QepBumXhDHQioO1OQt6J8lAc9USA4
	4K+HitqJQslpYZwUZO7skwJPLNpY/ppitzS/7ZqevLByJVEAjFpI5C5buG8witiTFwYZ
	Sd6ydWhnhBGzJeD9DpWbPQA7SzdNu6QBx1c7WLJYM/s0t+4WoMwlxiUkYBoPnAMhF235
	YgP0J2Dm95K/piWGZExUsf7FeMQh5Ri8VdfibEiHsX3MFvmFrU6qq3lxs8qu+pN2icQz
	nL2PsEcjDtispDVkdewK0PNdVC2LYF3eIGWUsNmF3F5LdvfUp4UM26WG5wdR2KeNAEpP
	KryJmOeZ/FlWw9zTxf9vDQucvHse8cFWjO+/AblAQ5fQ9tjkYFQg9jmomnJwjEfJmV2Z
	FUGZbDXbn2ha9ySKmikAc4I7Uzgw238mJwbiRhOCIIsxJTAjBgkqhkiG9w0BCRUxFgQU
	ZMjcjEPfcbnARN8mCYZEgzIGnwYwLTAhMAkGBSsOAwIaBQAEFAvdIAVR7L0TJbpeUunr
	dE0N2ao/BAjpYcvw2972OQ==
	</data>
	<key>client_id</key>
	<string>81fa6871-508f-46d5-9f19-9982438d2f7e</string>
	<key>cloud_root</key>
	<string>-----BEGIN CERTIFICATE-----
MIIGTDCCBDSgAwIBAgIQOXpmzCdWNi4NqofKbqvjsTANBgkqhkiG9w0BAQwFADBf
MQswCQYDVQQGEwJHQjEYMBYGA1UEChMPU2VjdGlnbyBMaW1pdGVkMTYwNAYDVQQD
Ey1TZWN0aWdvIFB1YmxpYyBTZXJ2ZXIgQXV0aGVudGljYXRpb24gUm9vdCBSNDYw
HhcNMjEwMzIyMDAwMDAwWhcNMzYwMzIxMjM1OTU5WjBgMQswCQYDVQQGEwJHQjEY
MBYGA1UEChMPU2VjdGlnbyBMaW1pdGVkMTcwNQYDVQQDEy5TZWN0aWdvIFB1Ymxp
YyBTZXJ2ZXIgQXV0aGVudGljYXRpb24gQ0EgRFYgUjM2MIIBojANBgkqhkiG9w0B
AQEFAAOCAY8AMIIBigKCAYEAljZf2HIz7+SPUPQCQObZYcrxLTHYdf1ZtMRe7Yeq
RPSwygz16qJ9cAWtWNTcuICc++p8Dct7zNGxCpqmEtqifO7NvuB5dEVexXn9RFFH
12Hm+NtPRQgXIFjx6MSJcNWuVO3XGE57L1mHlcQYj+g4hny90aFh2SCZCDEVkAja
EMMfYPKuCjHuuF+bzHFb/9gV8P9+ekcHENF2nR1efGWSKwnfG5RawlkaQDpRtZTm
M64TIsv/r7cyFO4nSjs1jLdXYdz5q3a4L0NoabZfbdxVb+CUEHfB0bpulZQtH1Rv
38e/lIdP7OTTIlZh6OYL6NhxP8So0/sht/4J9mqIGxRFc0/pC8suja+wcIUna0HB
pXKfXTKpzgis+zmXDL06ASJf5E4A2/m+Hp6b84sfPAwQ766rI65mh50S0Di9E3Pn
2WcaJc+PILsBmYpgtmgWTR9eV9otfKRUBfzHUHcVgarub/XluEpRlTtZudU5xbFN
xx/DgMrXLUAPaI60fZ6wA+PTAgMBAAGjggGBMIIBfTAfBgNVHSMEGDAWgBRWc1hk
lfmSGrASKgRieaFAFYghSTAdBgNVHQ4EFgQUaMASFhgOr872h6YyV6NGUV3LBycw
DgYDVR0PAQH/BAQDAgGGMBIGA1UdEwEB/wQIMAYBAf8CAQAwHQYDVR0lBBYwFAYI
KwYBBQUHAwEGCCsGAQUFBwMCMBsGA1UdIAQUMBIwBgYEVR0gADAIBgZngQwBAgEw
VAYDVR0fBE0wSzBJoEegRYZDaHR0cDovL2NybC5zZWN0aWdvLmNvbS9TZWN0aWdv
UHVibGljU2VydmVyQXV0aGVudGljYXRpb25Sb290UjQ2LmNybDCBhAYIKwYBBQUH
AQEEeDB2ME8GCCsGAQUFBzAChkNodHRwOi8vY3J0LnNlY3RpZ28uY29tL1NlY3Rp
Z29QdWJsaWNTZXJ2ZXJBdXRoZW50aWNhdGlvblJvb3RSNDYucDdjMCMGCCsGAQUF
BzABhhdodHRwOi8vb2NzcC5zZWN0aWdvLmNvbTANBgkqhkiG9w0BAQwFAAOCAgEA
YtOC9Fy+TqECFw40IospI92kLGgoSZGPOSQXMBqmsGWZUQ7rux7cj1du6d9rD6C8
ze1B2eQjkrGkIL/OF1s7vSmgYVafsRoZd/IHUrkoQvX8FZwUsmPu7amgBfaY3g+d
q1x0jNGKb6I6Bzdl6LgMD9qxp+3i7GQOnd9J8LFSietY6Z4jUBzVoOoz8iAU84OF
h2HhAuiPw1ai0VnY38RTI+8kepGWVfGxfBWzwH9uIjeooIeaosVFvE8cmYUB4TSH
5dUyD0jHct2+8ceKEtIoFU/FfHq/mDaVnvcDCZXtIgitdMFQdMZaVehmObyhRdDD
4NQCs0gaI9AAgFj4L9QtkARzhQLNyRf87Kln+YU0lgCGr9HLg3rGO8q+Y4ppLsOd
unQZ6ZxPNGIfOApbPVf5hCe58EZwiWdHIMn9lPP6+F404y8NNugbQixBber+x536
WrZhFZLjEkhp7fFXf9r32rNPfb74X/U90Bdy4lzp3+X1ukh1BuMxA/EEhDoTOS3l
7ABvc7BYSQubQ2490OcdkIzUh3ZwDrakMVrbaTxUM2p24N6dB+ns2zptWCva6jzW
r8IWKIMxzxLPv5Kt3ePKcUdvkBU/smqujSczTzzSjIoR5QqQA6lN1ZRSnuHIWCvh
JEltkYnTAH41QJ6SAWO66GrrUESwN/cgZzL4JLEqz1Y=
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIGlTCCBH2gAwIBAgIRANJ/u8HeNZ5SFq1hSVhgmcQwDQYJKoZIhvcNAQEMBQAw
gYgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpOZXcgSmVyc2V5MRQwEgYDVQQHEwtK
ZXJzZXkgQ2l0eTEeMBwGA1UEChMVVGhlIFVTRVJUUlVTVCBOZXR3b3JrMS4wLAYD
VQQDEyVVU0VSVHJ1c3QgUlNBIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MB4XDTIx
MDMyMjAwMDAwMFoXDTM4MDExODIzNTk1OVowXzELMAkGA1UEBhMCR0IxGDAWBgNV
BAoTD1NlY3RpZ28gTGltaXRlZDE2MDQGA1UEAxMtU2VjdGlnbyBQdWJsaWMgU2Vy
dmVyIEF1dGhlbnRpY2F0aW9uIFJvb3QgUjQ2MIICIjANBgkqhkiG9w0BAQEFAAOC
Ag8AMIICCgKCAgEAk77VNlJ12AEjoBxHQknuY7a3If3EldVIKyZ8FFMQ2nn9K7ct
pNQs+uoy3UnCub0PSD17WphUr55dMXRPB/xQId2kz2hPGxJjbSWZTCqZ80gwYfqB
fB6nCErcPiscHxhMcao1jK34bug7StnllALWiYQTqm3ITzPMUJY3kjPcX4jnn1TZ
SPCYQ9Zm/Z8XOEPFAVEL1+MjDxRdWxTnS77d9MjaAzfR1jmhIVEwg7Bt1zBOlluR
8HAkq79FgWRDDb0hOi886Z4NyyC1QifM2m+b7mQwkDnNk2WBITG1I1AzNyLjOO34
MTDMRf5i+dFdMnlCh99qzFYZQE3Oqrv5tXZJlPEn+JGlg+UGs2MOgNzgElWApjtm
tDmHLcjw0NEU6eQNTQ72XVdyxTscR1ad4tX7gWGMzE2AkDRbt9cUddzYBEifwMEo
iLTpHMqnsfFWt3tJTFnlIBWohAIp+jiUaZpJBo/NH3kUFxIMg3reH7GX7vmXeCik
yESS6X0mBaZYcpt5E9gRX67FOGI0aLKGMI74kGGeMmz1BzbNokxu7Io27fLmmRVE
cMN8vJw5wLTha/eDJSNX2RKA5UnwdQ/vjescm1QotCE8/HwK/+97a3X/ix2gGQWr
+vgrgULoOLq7+6r9PeDzyt9Ol5cp7fMYVumllqy9w5CYsuD5otSmR0N8bc8CAwEA
AaOCASAwggEcMB8GA1UdIwQYMBaAFFN5v1qqK0rPVIDh2JvAnfKyA2bLMB0GA1Ud
DgQWBBRWc1hklfmSGrASKgRieaFAFYghSTAOBgNVHQ8BAf8EBAMCAYYwDwYDVR0T
AQH/BAUwAwEB/zAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwEQYDVR0g
BAowCDAGBgRVHSAAMFAGA1UdHwRJMEcwRaBDoEGGP2h0dHA6Ly9jcmwudXNlcnRy
dXN0LmNvbS9VU0VSVHJ1c3RSU0FDZXJ0aWZpY2F0aW9uQXV0aG9yaXR5LmNybDA1
BggrBgEFBQcBAQQpMCcwJQYIKwYBBQUHMAGGGWh0dHA6Ly9vY3NwLnVzZXJ0cnVz
dC5jb20wDQYJKoZIhvcNAQEMBQADggIBADpvBIlq7bMU0cFDT/9P9+BsgCkRgQs0
S6Bf7vJSlWMHwby0VGvxCS0hrbi0K2BINZbEbsVsgpQq04431yyoVn3Hldorgq24
RldRDOOipEZDTFB9wC9HYt1thHF00XeG2C8KC1plwoEzKAIhPvefI/C3cT0CfTXJ
uFjUbKIgSwjNjw6YHtLgoy/hd5+JLUlLco/gzFX/qWbT7tEquOMYpsNKWZj8TLqP
q6zMiG4Na6feEZte6YPXGrMWlTWN341vDedc+yxQqSug79HJUQcOZs7KyDWztmae
QxsPE49UV/8XwrfZtZaYyrs4FpD94Z4Q8dzXGL8+qEJjxgcza7W6PROaClubavd1
VKPm8+aCW77u7SxpR2TFGL6kPdxsKyFijpcunR5V79sUyROfNdzjrAcFWZXK8sbb
9FlnwuVG677JLv+ZVTX5AxLvW5OB4zt5uS+zB62wJ/Wv+jXGAttSAcJec4iFgCWH
Rvdi/jJoSzRLa3nEzx6pFIzclSCnh0u1xCeLcUBypSiPga8W+6PkuoyQq8U9qs9E
oxG5NvrvlyshwUS9yvcZRGw7Ljlx4jJH/BhIPR8kIBCQj1vna9TziZOrw1Of8hDU
bHKFG9Pm8Dp2vbjz/2JH39qvxshPKVllGfq+5klPm7yZRUYTiCMAbqwNdL/nsqF2
Rnnyp58XRStJ
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIF3jCCA8agAwIBAgIQAf1tMPyjylGoG7xkDjUDLTANBgkqhkiG9w0BAQwFADCB
iDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0pl
cnNleSBDaXR5MR4wHAYDVQQKExVUaGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNV
BAMTJVVTRVJUcnVzdCBSU0EgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMTAw
MjAxMDAwMDAwWhcNMzgwMTE4MjM1OTU5WjCBiDELMAkGA1UEBhMCVVMxEzARBgNV
BAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0plcnNleSBDaXR5MR4wHAYDVQQKExVU
aGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNVBAMTJVVTRVJUcnVzdCBSU0EgQ2Vy
dGlmaWNhdGlvbiBBdXRob3JpdHkwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIK
AoICAQCAEmUXNg7D2wiz0KxXDXbtzSfTTK1Qg2HiqiBNCS1kCdzOiZ/MPans9s/B
3PHTsdZ7NygRK0faOca8Ohm0X6a9fZ2jY0K2dvKpOyuR+OJv0OwWIJAJPuLodMkY
tJHUYmTbf6MG8YgYapAiPLz+E/CHFHv25B+O1ORRxhFnRghRy4YUVD+8M/5+bJz/
Fp0YvVGONaanZshyZ9shZrHUm3gDwFA66Mzw3LyeTP6vBZY1H1dat//O+T23LLb2
VN3I5xI6Ta5MirdcmrS3ID3KfyI0rn47aGYBROcBTkZTmzNg95S+UzeQc0PzMsNT
79uq/nROacdrjGCT3sTHDN/hMq7MkztReJVni+49Vv4M0GkPGw/zJSZrM233bkf6
c0Plfg6lZrEpfDKEY1WJxA3Bk1QwGROs0303p+tdOmw1XNtB1xLaqUkL39iAigmT
Yo61Zs8liM2EuLE/pDkP2QKe6xJMlXzzawWpXhaDzLhn4ugTncxbgtNMs+1b/97l
c6wjOy0AvzVVdAlJ2ElYGn+SNuZRkg7zJn0cTRe8yexDJtC/QV9AqURE9JnnV4ee
UB9XVKg+/XRjL7FQZQnmWEIuQxpMtPAlR1n6BB6T1CZGSlCBst6+eLf8ZxXhyVeE
Hg9j1uliutZfVS7qXMYoCAQlObgOK6nyTJccBz8NUvXt7y+CDwIDAQABo0IwQDAd
BgNVHQ4EFgQUU3m/WqorSs9UgOHYm8Cd8rIDZsswDgYDVR0PAQH/BAQDAgEGMA8G
A1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQEMBQADggIBAFzUfA3P9wF9QZllDHPF
Up/L+M+ZBn8b2kMVn54CVVeWFPFSPCeHlCjtHzoBN6J2/FNQwISbxmtOuowhT6KO
VWKR82kV2LyI48SqC/3vqOlLVSoGIG1VeCkZ7l8wXEskEVX/JJpuXior7gtNn3/3
ATiUFJVDBwn7YKnuHKsSjKCaXqeYalltiz8I+8jRRa8YFWSQEg9zKC7F4iRO/Fjs
8PRF/iKz6y+O0tlFYQXBl2+odnKPi4w2r78NBc5xjeambx9spnFixdjQg3IM8WcR
iQycE0xyNN+81XHfqnHd4blsjDwSXWXavVcStkNr/+XeTWYRUc+ZruwXtuhxkYze
Sf7dNXGiFSeUHM9h4ya7b6NnJSFd5t0dCy5oGzuCr+yDZ4XUmFF0sbmZgIn/f3gZ
XHlKYC6SQK5MNyosycdiyA5d9zZbyuAlJQG03RoHnHcAP9Dc1ew91Pq7P8yF1m9/
qS3fuQL39ZeatTXaw2ewh0qpKJ4jjv9cJ2vhsE/zB+4ALtRZh8tSQZXq9EfX7mRB
VXyNWQKV3WKdwrnuWih0hKWbt5DHDAff9Yk2dDLWKMGwsAvgnEzDHNb842m1R0aB
L6KCq9NjRHDEjf8tM7qtj3u1cIiuPhnPQCjY/MiQu12ZIvVS5ljFH4gxQ+6IHdfG
jjxDah2nGN59PRbxYvnKkKj9
-----END CERTIFICATE-----
</string>
	<key>email</key>
	<string>system@hexnode.com</string>
	<key>host</key>
	<string>pm-learn.hexnodemdm.com</string>
	<key>latest_plan_id</key>
	<string>r12</string>
	<key>licensed_to</key>
	<string>System_apihug</string>
	<key>port</key>
	<integer>8998</integer>
	<key>post_url</key>
	<string>https://pm-learn.hexnodemdm.com/cloudadsync/</string>
</dict>
</plist>
